<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
    <head>
        <title>JLight</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=1">
        <!--<meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9, target-densitydpi=medium-dpi, user-scalable=0" />-->
        <!--<script type="text/javascript" charset="utf-8" src="js/cordova.js"></script>-->
        <script type="text/javascript" charset="utf-8" src="js/sha256.js"></script>
        <link rel="stylesheet" href="css/themes/default/jquery.mobile-1.4.0.min.css">
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" href="css/font.css">
        <link rel="stylesheet" href="css/jqm-demos.css">
        <script src="js/libs/require.js" data-main="js/mobile"></script>
        <link rel="stylesheet" href="css/index.css">
        <script type="text/javascript" charset="utf-8" src="js/Chart.js"></script>
        <script type="text/javascript">
            function toMoney(val) {
                var parts = val.toString().split(".");
                return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
            }
            function ucfirst(str) {
                if (str !== null && str !== undefined)
                    return str.charAt(0).toUpperCase() + str.slice(1);
            }
        </script>
    </head>
    <body>
        <div id="appview" data-role="page" data-title="POWER HOUSE" class="jqm-demos" data-quicklinks="true">
            <div data-role="header" data-tap-toggle="false" class="jqm-header" data-position="fixed">
                <h2><a  title="Jamaica Stock Exchange"><img src="images/logo.png"></a></h2>
                <a  class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            </div>

            <div id="content-holder" role="main" class="ui-content jqm-content" style="padding-top: 0.3em;">

            </div>

            <div data-role="navbar" data-position="fixed" data-iconpos="bottom" class="ui-footer ui-footer-fixed slideup ui-bar-inherit application-icon app-navbar">
                <ul>
                    <li><a id="home-icon" href="#home" class="ui-btn-active" data-icon="home"></a></li>
                    <li><a id="tips-icon" href="#tips" data-icon="tips"></a></li>
                    <li><a id="graph-icon" href="#graph" data-icon="graph"></a></li>
                    <li><a id="setting-icon" href="#setting" data-icon="setting"></a></li>
                </ul>
            </div>

            <div data-role="panel" class="jqm-search-panel" data-position="right" data-display="overlay" data-theme="a">
                <div class="jqm-search">
                    <ul class="jqm-list" data-filter-placeholder="Search Symbol" data-filter-reveal="true" id="sysbol-list">
                    </ul>
                </div>
            </div>
            <div id="main_head" data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="overlay" data-theme="a">
                <ul class="jqm-list ui-alt-icon ui-nodisc-icon">
                    <li data-filtertext="demos homepage"><a class="" href="index.html">Home</a></li>
                    <li data-filtertext="demos homepage"><a id="disclaimer-link" class="" href="index.html#disclaimer">Disclaimer</a></li>
                    <li data-filtertext="demos homepage"><a id="about-link" class="" href="index.html#about">About</a></li>
                    <li data-role="collapsible" data-collapsed-icon="carat-d" data--icon="carat-u" data-iconpos="right" data-inset="false">
                </ul>
            </div>
        </div>
        <!--home-->
        <div id="home" data-role="page" data-title="Home">
            <div>
                <div class="main-title">
                    <table style="width:100%;">
                        <tr>
                            <td><span>MONTHLY CONSUMPTION</span></td>
                            <td>
                                <ul class="view-control"> 
                                    <li>
                                        <a href="" id="app-view-switch"><img src="images/list_view_i.png"></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--rooms-->
                <div class="rooms" id="icon-view">
                    <table class="rooms">
                        <tr>
                            <td>
                                <a href="#room?bathroom"><img src="images/bathroom.png" alt="bathroom"></a>
                                <ul id="bathroom"> 
                                    <li>
                                        <span class="appliance-count">0 Appliances</span>
                                    </li>
                                    <li>
                                        <span class="room-watt">0 KW</span>
                                    </li>
                                    <li>
                                        <span class="room-cost">$0</span>
                                    </li>
                                </ul> 
                            </td>
                            <td>
                                <a href="#room?homeoffice"><img src="images/office.png" alt="office"></a>
                                <ul id="homeoffice"> 
                                    <li>
                                        <span class="appliance-count">0 Appliances</span>
                                    </li>
                                    <li>
                                        <span class="room-watt">0 KW</span>
                                    </li>
                                    <li>
                                        <span class="room-cost">$0</span>
                                    </li>
                                </ul> 
                            </td>
                            <td>
                                <a href="#room?kitchen"><img src="images/kitchen.png" alt="kitchen"></a>
                                <ul id="kitchen"> 
                                    <li>
                                        <span class="appliance-count">0 Appliances</span>
                                    </li>
                                    <li>
                                        <span class="room-watt">0 KW</span>
                                    </li>
                                    <li>
                                        <span class="room-cost">$0</span>
                                    </li>
                                </ul> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#room?washroom"><img src="images/washroom.png" alt="washroom"></a>
                                <ul id="washroom"> 
                                    <li>
                                        <span class="appliance-count">0 Appliances</span>
                                    </li>
                                    <li>
                                        <span class="room-watt">0 KW</span>
                                    </li>
                                    <li>
                                        <span class="room-cost">$0</span>
                                    </li>
                                </ul> 
                            </td>
                            <td>
                                <a href="#room?livingroom"><img class="long-img" src="images/livingroom.png" alt="livingroom"></a>
                                <ul id="livingroom"> 
                                    <li>
                                        <span class="appliance-count">0 Appliances</span>
                                    </li>
                                    <li>
                                        <span class="room-watt">0 KW</span>
                                    </li>
                                    <li>
                                        <span class="room-cost">$0</span>
                                    </li>
                                </ul> 
                            </td>
                            <td>
                                <a href="#room?bedroom"><img class="long-img" src="images/bedroom.png" alt="bedroom"></a>
                                <ul id="bedroom"> 
                                    <li>
                                        <span class="appliance-count">0 Appliances</span>
                                    </li>
                                    <li>
                                        <span class="room-watt">0 KW</span>
                                    </li>
                                    <li>
                                        <span class="room-cost">$0</span>
                                    </li>
                                </ul> 
                            </td>
                        </tr>
                    </table>
                    <div>
                        <a><img class="meter" src="images/meter.png" alt="Meter"></a>
                        <ul id="meter-total"> 
                            <li>
                                <span class="appliance-count" style="font-size: 0.8em">0 Appliances</span>
                            </li>
                            <li>
                                <span class="room-watt" style="font-size: 0.8em">0 KW</span>
                            </li>
                            <li>
                                <span class="room-cost" style="font-size: 1.4em">$0</span>
                            </li>
                        </ul> 
                    </div>
                </div>

            </div>
            <div id="list-view">
                <div>
                    <ul data-role="list-view" id="room-appl-listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
                    </ul>
                </div>
            </div>
        </div>
        <!--tips-->
        <div id="tips" data-role="page" data-title="Tips">
            Tips
        </div>
        <!--appliance-->
        <div id="appliance" data-role="page" data-title="Appliance">

        </div>
        <!--add appliance-->
        <div id="addappliance" data-role="page" data-title="Appliance">
            <div id="addappliance-form" style="margin-bottom:3.2em">

            </div>
        </div>
        <!--room-->
        <div id="room" data-role="page" data-title="Rooms">
            <div class="room-appliances" style="margin:0.35em">
                <span id="room-name">APPLIANCES</span>
                <div><a id="room-link" class="jqm-view-source-link ui-btn ui-corner-all ui-btn-inline ui-mini form-button">+ Add Regular Appliance</a></div>
                <div id="room-appliances">
                    <ul id="room-appliances-list" data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow owned-appliance">
                    </ul>
                    <div style="display: none;" id="purchase-placeholder"><!-- placeholder for purchase --></div>
                </div>
                <div><a id="custom-app-link" class="jqm-view-source-link ui-btn ui-corner-all ui-btn-inline ui-mini form-button">+ Add Custom Appliance</a></div>
            </div>
        </div>
        <!--graph-->
        <div id="graph" data-role="page" data-title="Graph">
            <canvas id="canvas"></canvas>
        </div>
        <!--discover appliance-->
        <div id="discoverappliance" data-role="page" data-title="Discover Appliance">
            <div class="room-appliances" style="margin:0.35em">
                <span id="discoverappliance-title">SELECT APPLIANCES TO ADD</span>
                <div data-demo-html="true">
                    <ul id="discoverappliance-list" data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow new-appliance">

                    </ul>
                    <div style="display: none;" id="purchase-placeholder">
                    </div>
                </div>
            </div>
        </div>
        <!--setting-->
        <div id="setting" data-role="page" data-title="Setting">
            <div class="application-form"> 
                <h3>Application settings</h3>
                <a href="#setrate" class="ui-shadow ui-btn ui-corner-all app-font">Set Electricity Rate</a>
                <a href="#addcustom" class="ui-shadow ui-btn ui-corner-all app-font" style="margin-top:2em">+ Add Custom Appliance</a>
            </div>
        </div>
        <!--setting-->
        <div id="setrate" data-role="page" data-title="Setting">
            <div class="application-form">
                <form id="rateform">

                </form>
            </div>
        </div>
        <!--add custom-->
        <div id="addcustom" data-role="page" data-title="Add Custom Appliance">
            <div class="application-form">
                <form id="custom-appl-form">

                </form>
            </div>
        </div>
        <script  id="appliance-add" type="text/template">
            <li class="ui-li-has-alt ui-li-has-thumb <%=appliance['class']%>">
            <a href="#addappliance?<%=appliance['room']%>?<%=appliance['key']%>" class="ui-btn appliance-item">
            <img class="icon-item" src="images/icons/<%=appliance['icon']%>.png">
            <h2><%=appliance['name']%></span></h2> 
            <p><%=toMoney(appliance['watt'])+ ' Watt'%></p></a>
            <a href="#addappliance?<%=appliance['room']%>?<%=appliance['key']%>" class="ui-btn ui-btn-icon-notext ui-icon-gear ui-btn-a" title="Purchase album"></a>
            </li>
        </script>
        <script id="appliance-add-form" type="text/template">
            <div style="margin-top:1em;">
            <h3><%=appliance['name']%></h3>
            <h5>Watt: <%=toMoney(appliance['watt'])%></h5>
            </div>

            <div>
            <h5 id="unit-title">Hours used</h5>
            <table style="width:100%">
            <tr>
                <td style="width:70%">
                <input type="number" name="appliance-quantity" id="appliance-hours" value="<%=appliance['hours']%>" <%=appliance['hours_input']%>>
                </td>
                <td style="width:30%;float:left;padding-left:1em;">
                <select style="float:right" name="time-unit" id="time-unit" data-role="slider">
                <option value="hour">Hrs</option>
                <option value="minute">Min</option>
                </select>
                </td>
            </tr>
            </table>
        </div>
            
            <h5>Quantity</h5>
            <input type="number" name="appliance-quantity" id="appliance-quantity" value="<%=appliance['quantity']%>">
            </div>

            <div class="ui-field-contain">
            <h5>Usage</h5>
            <select name="usage" id="appliance-usage" data-mini="true">
            </select>
            </div>

            <div>
            <a style="margin:0em" id="appliance-add-form-save" class="jqm-view-source-link ui-btn ui-corner-all ui-btn-inline ui-mini form-button" href="#room?<%=appliance['room']%>">Save</a>
            <a style="margin:0em" id="appliance-add-cancel" class="jqm-view-source-link ui-btn ui-corner-all ui-btn-inline ui-mini form-button" href="#room?<%=appliance['room']%>">Cancel</a>
            </div>
        </script>
        <script id="room-appliance-li" type="text/template">
            <li class="ui-li-has-alt ui-li-has-thumb <%=appliance['class']%>" id="<%=appliance['key']%>">
            <a href="#editappliance?<%=appliance['room']%>?<%=appliance['key']%>" class="ui-btn appliance-item">
            <img class="icon-item" src="images/icons/<%=appliance['icon']%>.png">
            <h2><%=appliance['name']%><span> x<%=appliance['quantity']%></span></span></h2> 
            <p>
            <%=toMoney(appliance['watt'])+ ' Watt'%><span> used <%=appliance['usage']%> for <span> <%=appliance['hours']%> <%=appliance['time_unit']%>(s)
            </p>
            </a>
            <a onclick="return Appliance.deleteRoomAppliance(this)" data-room="<%=appliance['room']%>" data-role="popup" data-rel="popup"  data-appid="<%=appliance['key']%>" class="ui-btn ui-btn-icon-notext ui-icon-gear ui-btn-a" title="Delete Appliance"></a>
            </li>
        </script>
        <script id="appliance-divider" type="text/template">
            <li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit ui-li-has-count <%=class%>"><a href="#room?<%=room%>"><%=roomName%></a></li>
        </script>

        <script id="appliance-item" type="text/template">
            <% _.each( appliances, function( row, key ) { %>
            <li>
            <a href="#editappliance?<%=row['room']%>?<%=key%>" class="ui-btn /*ui-btn-icon-right*/ ui-icon-carat-r">
            <span class="appliance-list-item app-li-app-name"><span><%=row['name']%><span> x<%=row['quantity']%></span></span></span>
            <span class="appliance-list-item app-li-app-watt"><%=row['watt']%> Watt</span>
            <span class="appliance-list-item app-li-app-cost">$<%=row['cost']%></span>
            </a>
            </li>
            <% }); %>
        </script>
        <script id="rate-view-tmp" type="text/template">
            <h3>Enter electricity rate or select country</h3>

            <div>
            <input placeholder="Enter electricity rate" type="number" name="rate-amt" id="rate-amt" value="<%=setting['rate']%>">
            </div>

            <div style="text-align: center;">
            <span style="display: inline-block;position: relative;font-size:1.2em;font-weight:300">-OR-</span>
            </div>

            <div class="ui-field-contain">
            <select name="country" id="country" data-mini="true">
            <option value="small">Select Country</option>
            </select>
            </div>

            <div class="app-form-button">
            <a style="margin:0em" id="appliance-add-form-save" class="jqm-view-source-link ui-btn ui-corner-all ui-btn-inline ui-mini form-button" href="#">Save</a>
            <a style="margin:0em" id="appliance-add-cancel" class="jqm-view-source-link ui-btn ui-corner-all ui-btn-inline ui-mini form-button" href="#">Cancel</a>
            </div>
        </script>

        <script id="add-custom-appl-tmp" type="text/template">
            <div style="margin-top:1em;">
            <div>
                Add Custom Appliance for <span class="room-custom"></span>
            </div>
            
             <div>
            <h5>Applicance Name</h5>
            <input type="text" name="appliance-name" id="appliance-name" value="<%=appliance['hours']%>" <%=appliance['hours_input']%>>
            </div>
            
            <div>
            <h5>Appliance Wattage</h5>
            <input type="number" name="appliance-quantity" id="appliance-watt" value="<%=appliance['hours']%>" <%=appliance['hours_input']%>>
            </div>
    
    
            <div>
            <h5>Quantity</h5>
            <input type="number" name="appliance-quantity" id="appliance-quantity" value="<%=appliance['quantity']%>">
            </div>
            <div>

             <div>
            <h5 class="unit-title">Hours used</h5>
            <table style="width:100%">
            <tr>
                <td style="width:70%">
                <input type="number" name="appliance-hours" id="appliance-hours" value="<%=appliance['hours']%>" <%=appliance['hours_input']%>>
                </td>
                <td style="width:30%;float:left;padding-left:1em;">
                <select style="float:right" name="time-unit" id="time-unit" data-role="slider">
                <option value="hour">Hrs</option>
                <option value="minute">Min</option>
                </select>
                </td>
            </tr>
            </table>
        </div>

            <div class="ui-field-contain">
            <h5>Usage</h5>
            <select name="usage" id="appliance-usage" data-mini="true">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
            </div>

            <div>
            <a style="margin:0em" id="appliance-add-form-save" class="jqm-view-source-link ui-btn ui-corner-all ui-btn-inline ui-mini form-button" href="#">Save</a>
            <a style="margin:0em" id="appliance-add-cancel" class="jqm-view-source-link ui-btn ui-corner-all ui-btn-inline ui-mini form-button" href="#">Cancel</a>
            </div>
        </script>
    </body>
</html>