.jqm-demos .jqm-header {
    background: #fff;
    border-top: 4px solid #3eb249;
    border-bottom-color: #eee;
}
.ui-navbar li .ui-btn {

}

#content-holder{
    margin-bottom: 2.5em;
}

.ui-content {
    padding: 0.03em;
}

.jqm-block-content{
    margin: .35em .35em .35em .35em;
    padding: 0.5em 0.2em 0.5em 0.2em;
    min-height: 0.1em;
}
.jqm-block-content p {
    font-size: 0.78em;
    font-weight: 300;
    line-height: 1.4;
    margin: .7em 0;
}

.ui-icon-home:after{background-image:url('../images/home_i.png')}
.ui-icon-tips:after{background-image:url('../images/tips_i.png')}
.ui-icon-setting:after{background-image:url('../images/setting_i.png')}
.ui-icon-graph:after{background-image:url('../images/graph_i.png')}

.ui-icon-home-a:after{background-image:url('../images/home_a.png')}
.ui-icon-tips-a:after{background-image:url('../images/tips_a.png')}
.ui-icon-setting-a:after{background-image:url('../images/setting_a.png')}
.ui-icon-graph-a:after{background-image:url('../images/graph_a.png')}

.application-icon .ui-btn-icon-left:after, 
.application-icon .ui-btn-icon-right:after,
.application-icon .ui-btn-icon-top:after, 
.application-icon .ui-btn-icon-bottom:after,
.application-icon .ui-btn-icon-notext:after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
}

.application-icon .ui-btn-icon-left:after, 
.application-icon .ui-btn-icon-right:after, 
.application-icon .ui-btn-icon-top:after, 
.application-icon .ui-btn-icon-bottom:after, 
.application-icon .ui-btn-icon-notext:after {

    background-color: rgba(255,255,255,0);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.application-icon .ui-btn-icon-bottom:after {
    bottom: 0.00em;
}

.application-icon .ui-btn-active{ 
    color: #FFF !important;
    border-color: red;
    background: none !important;
    background-color: rgba(255,255,255,0) !important;  
    border-width: 0;
}

.market-index * { 
    text-shadow:0 0 0 !important; 
}
.market-index .ui-btn{
    font-weight: normal !important;
}
.market-index  a{ 
    color: #6B6B6B !important;
}

.jqm-demos .jqm-content {
    padding-top: 1em;
}

/* Remove border from menu bar*/
.ui-page-theme-a  .app-navbar .ui-btn{

    border-color: #E8E8E8 !important;
    color: #333 !important;
    text-shadow: 0 1px 0 #f3f3f3 !important;
}

.app-navbar  .ui-btn {
    background: #E8E8E8 !important;
    border-color: #E8E8E8 !important;
    color: #333 !important;
    text-shadow: 0 1px 0 #f3f3f3 !important;
    border-width: 0px;
    border-style: solid;
}

.market-index .ui-btn-active{ 
    font-weight: bold !important;

    background-color: #cecece !important;
    border-width: 0;

}

/* Remove border from quick links*/
.jqm-demos .jqm-content .jqm-deeplink {
    display: inline-block;
    color: #999;
    font-weight: 300;
    border-top: 0px solid #eee;
    text-align: right;
    margin: 0.5em 0 0.5em;
    float: right;
}

.summary-heading-1 {
    color: #333 !important;
    font-size: 1.0em !important;
    margin: 0 0 .625em !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500 !important;
    -webkit-margin-before: 0.0em !important;
}

.form-element-text {
    color: #333;
    font-size: 0.85em !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500 !important;
    -webkit-margin-before: 0.0em !important;
}

.summary-heading-3 {
    font-size: 1.1em;
    font-weight: 300;
    padding-left: .25em;
    width:100%;
}

.app-link{
    font-size: 0.7em;
    border: 1px;
    border-radius: 5px;
    border-color: #e9e9e9;
    border-style: solid;
    padding: 3px 3px 3px 24px;
    margin-top: 3px !important;
    background: url('../images/curve_arrow.png') no-repeat 2% 50% !important;
    background-size: 10px 10px !important;
}

.app-content{
    margin: 0.0em;
    padding: 0.5em;
    min-height: 0.1em;
}

.app-content .text{
    font-size: 0.7em !important;
    font-weight: 500 !important;
}

.app-content .text .figure{
    padding-right:16px;
    position:absolute;
    right: 0.02em;
}

.app-content .odd .ui-btn{
    background: #F0F0F0   !important;
}



.stock-direction{
    padding-left: 3px;
}


.index-tabs{
    padding:0em;
    margin:0em;
    display:none;
}
.quote-tabs{
    padding:0em;
    margin:0em;
    display:none;
}
.symbol-tabs{
    padding:0em;
    margin:0em;
    display:none;
}
.value-dir  {

}
.value-dir-down{
    background: url('../images/mov_down.png') no-repeat 90% 50% !important;
    background-size: 8px 8px !important;
    display: inline-block;
    position: relative;
}
.value-dir-up{
    background: url('../images/mov_up.png') no-repeat 90% 50% !important;
    background-size: 8px 8px !important;
    display: inline-block;
    position: relative;
}

#room-appl-listview *{
    font-family: 'Open Sans', sans-serif !important;
}

#room-appl-listview h2 {
    font-size: 0.8em !important;
    font-weight: 600;
}

#room-appl-listview p {
    font-size: 0.7em !important;
    font-style: italic;
}

#room-appl-listview>.ui-li-divider a {
    color: #3eb249 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em !important;
    text-decoration: none;
}

.heading {
    font-size: 1.0em !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}
.heading h2{
    color:#666600 !important;
    font-size: 0.9em !important;
    font-weight: 400;
    padding: 0 1em 0 1em !important;
}
.tiny-text{
    padding: 0 0 0 0 !important;
}
.app-link-button {
    color: #888687 !important;
    font-weight: 300 !important;
    font-family: 'Open Sans', sans-serif;
    padding: 0 1em 0 1em !important;
    margin: 0em 0 1.5em 1em !important;
    border: none;
    font-size: 1em !important;
    background: url('../images/arrow_left.png') no-repeat 0% 50% !important;
    clear:both;
    display:block;
}
.odd {
    background: #ededed;
}

.not-available{
    color:#d3d3d3 !important;
}

.hidden-text{
    font-style: italic;
    font-size: 0.9em;
}

/**/
.ui-page-theme-a{
    background: #FFF !important;
}
div.rooms{
    margin: 0.35em 0.35em 0.35em 0.35em;
}
table.rooms{
    width:100%;
    border-collapse: collapse;
    border: 1px solid #ddd;

}
table.rooms tr{
    height: 6.0em;
}

table.rooms td{
    border: 1px solid #ddd;
    width:33.33%;
}

table.rooms td img{
    display:block;
    margin-left: 1em;
    width: 2.8em;
}

table.rooms .long-img{
    width: 4.0em;
}
table.rooms ul
{
    list-style-type: none;
    margin-left: 1.0em;
    margin-top:0.4em;
    padding:0;
}
.appliance-count, .room-watt, .room-cost{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    display:block;
    margin-left: 0em;
    color:#575757;
}
.appliance-count{
    display:block;
    font-weight:bold;
}
.room-watt{
    color: #888687;
}

.room-cost{
    color:#ff6633;
    font-size: 0.9em;
}

.main-title img{
    width:1.4em;
}

.main-title ul
{
    list-style-type: none;
    margin:0.0em 0.35em 0.0em 0.0em;
    padding:0;
}
.main-title ul li{
    display: inline;

}

.meter{
    left: .35em;
    position: absolute;
    margin: 0.5em 0.35em 0.35em 0.35em;
    height:4.5em;
}
#meter-total{
    right: 10.0%;
    position: absolute;
    list-style-type: none;
    margin-left: 1.0em;
    margin-top:1.0em;
    padding:0;
}
.view-control{
    padding-right: 0.35em;
    float:right;
}

#icon-view{

}
#list-view{
    margin:1.0em 0.35em 1.0em 0.35em;
}

.icon-item{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;

    margin-left: 1em;
    width:2.0em;
}
.room-appliances{
    color: #333 !important;
    font-family: 'Open Sans', sans-serif !important;

}
.room-appliances h2{
    font-size: 0.9em !important;
}
.owned-appliance .ui-icon-gear:after {
    background:  url('../images/delete.png') no-repeat 50% 50% !important;
    -webkit-border-radius: 0em !important;  
    border-radius: 0em !important;  
}
.new-appliance .ui-icon-gear:after {
    background:  url('../images/plus.png') no-repeat 50% 50% !important;
    -webkit-border-radius: 0em !important;  
    border-radius: 0em !important;  
}
.appliance-quantity{
    margin-left: 1.0em;
    font-weight: normal;
    font-size: 0.8em;
    font-style:italic
}

#addappliance-form{
    margin:0.35em;
    font-family: 'Open Sans', sans-serif !important;
}

.ui-field-contain {
    border-bottom-color: rgba(0,0,0,0.0);
    border-bottom-width: 0px;
}

.form-button{
    color: #333 !important;
}

a.appliance-item{
    padding-left: 4em !important;
}

.appliance-list-item{
    display:block;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-left: 0em;
}

.app-li-app-name{
    font-size: 0.8em;
    font-weight: 600;
    display: block;
    margin: .45em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.app-li-app-watt{
    font-size: 0.8em;
    font-weight: 300;
}

.app-li-app-cost{
    font-size: 0.8em;
    color: #ff6633;
    font-weight: 300;
}

.application-form{
    margin: 1em 2em 3em 2em;
}

.app-form-button{
    margin-top:2em;
}

.app-font{
    font-size: 1.0em;
    font-weight: 500 !important;
    font-family: 'Open Sans', sans-serif !important;
}

#addappliance-form .ui-slider-switch { 
    width: 7em !important 
}
.ui-flipswitch{
    height:37px;
}
.ui-flipswitch .ui-btn.ui-flipswitch-on, .ui-flipswitch .ui-flipswitch-off {
    float: left !important;
    height:36px !important;
    margin: .0725em;
    line-height: 1.95em !important;
}

.chart-color{
    display: inline-block;
    width:1em;height:1em
}

.slice-name{
    margin-left:1.5em ;
    display: inline-block
}

.slice-perc{
    padding-right: 16px;
    position: absolute;
    right: 1.6em;
}

.room-link{
    text-decoration: none;
}

.tips-list{
    list-style-image: url('../images/check.png') !important;
}

.tips-container{
    font-family: 'Open Sans', sans-serif !important;
    margin:0.5em;
}

.header{
    font-size: 1.0em !important;
    font-weight: 300;
    color: #3eb249 !important;
}